[Desktop Entry]
Type=Application
Name=i3wm Solarized Polybar Titlebar
Exec=bash -c 'sh ~/.scripts/themes/i3wm_solarized_polybar_titlebar.sh'
Icon=style
Terminal=false
Categories=GTK;Settings;
Comment=Theme i3wm Solarized theme i3wm
Name[en_US.utf8]=Theme i3wm Solarized Polybar Titlebar
