[Desktop Entry]
Type=Application
Name=Bspwm Graphite
Exec=bash -c 'sh ~/.scripts/themes/bspwm_graphite.sh'
Icon=style
Terminal=false
Categories=GTK;Settings;
Comment=theme bspwm graphite
Name[en_US.utf8]=Theme Bspwm Graphite
