[Desktop Entry]
Type=Application
Name=Bspwm Blue
Exec=bash -c 'sh ~/.scripts/themes/bspwm_blue.sh'
Icon=style
Terminal=false
Categories=GTK;Settings;
Comment=theme bspwm blue
Name[en_US.utf8]=Theme Bspwm Blue
