[Desktop Entry]
Type=Application
Name=i3wm Canvas
Exec=bash -c 'sh ~/.scripts/themes/i3wm_canvas.sh'
Icon=style
Terminal=false
Categories=GTK;Settings;
Comment=theme i3wm canvas
Name[en_US.utf8]=Theme i3wm Canvas
