[Desktop Entry]
Version=1.0
Name=urxvt
Comment=An unicode capable rxvt clone
Exec=urxvt
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Name[en_US.utf8]=URxvt Terminal
